.footer{
    width: 100%;
    height: 50vh;
}

.text{
    font-size: 15px;
}
.icon-texts{
    width: 15vw;
}
.main-stack{
    display: flex;
    justify-content: space-evenly;
}
.Vstack-footer{
    margin-top: 5%;
    width: 50vw;
}

@media only screen and (max-width: 450px) {
    .text {
       font-size: 12px;
    }

 }
 